body {
    background: #888888;
}

.navbar {
    background-color: #000000;
    color: white;
}

.page-container {
    margin-top: 75px;
    width: 100%;
}

#listPage .card-title, #listPage .card-subtitle {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

.card{
    margin: 50px;
    background-color: #CCCCCC;
    border-radius: 25px;
}

#loginInfo {
    display: block;
    width:100%;
    text-align: center;
}

#login, #register {
    color: white;
    background: orange;
    font-size: 1.1em;
    padding: 10px 30px;
    border-radius: 5px;
}

#loginRedirect, #registerRedirect {
    color: blue;
    padding: 10px 15px;
}

.bmd-layout-content{
    height: 100vh;
}

.bmd-layout-drawer > ul {
    background-color: #cccccc;
}

.bmd-layout-drawer>.list-group .list-group-item {
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 0.8rem;
    font-weight: 500;
}

.list-group-item :first-child {
    margin-right: 0.2rem;
}

#searchRedirect {
    position: fixed;
    right: 20px;
}

#searchPage > container {
    width: 100%;
}

#searchText {
    margin-left: 25%;
    width: 40%;
    border-radius: 10px;
}

#searchSubmit {
    padding: 0 20px;
    background: orange;
    border-radius: 10px;
}

.dropdown {
    width: 100%;
    margin-left: 25%;
}

.dropdown > button {
    margin-top: 20px;
    background: orange;
    padding: 5px 10px;
}